html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul li::marker {
  content: "- ";
}
* {
  word-spacing: normal;
}

body {
  background-color: #f6e8e5;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  flex-basis: content;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0;
  padding-bottom: 0;
}
.rowHeadline {
  display: flex;
  font-family: "Arial";
  font-size: 14;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
}

.sixColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 20%;
}
.firstColumn {
  padding-right: 20px;
}
.threeColumns {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 2.4;
  padding: 20%;
  padding-top: 0;
  padding-bottom: 0;
}

button {
  display: inline-block;
  background-color: #f6e8e5;
  height: 50px;
  width: 100%;
  margin-top: 30%;
}

#link {
  color: black;
}
h4 {
  font-size: 20px;
  padding-left: 20%;
  padding-right: 20%;
}
.firstC {
  flex: 1;
}

img.displayed {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 5px;
}

@media (min-width: 576px) {
  .sixColumns {
    display: flex;
    flex-direction: row;
  }
  .threeColumns {
    display: flex;
    flex-direction: row;
  }
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
